# Data analysis exercise: Our World in Data

<hr style = "border: 6.0px solid navy; width:100%;"></hr>

## Dear line manager,

### To calculate the crude death rate for COPD for all ages in both the United States and Uganda for 2019, the following methodology was used: 

1) Download of a database (from population.un.org) with the total population and total deaths for both countries for 2019
2) Extract of the database columns essential to this topic
3) The crude death rate per country was calculated according to the following formula:

    *Crude Death rate (per 100,000 people) = (Deaths/Total Population) * 100,000

### To calculate the age-standardized death rate for COPD for all ages in both the United States and Uganda for 2019, the following methodology was used: 

1) Download of a database (from population.un.org) with the total population per age group for both countries for 2019
2) Extract of the database columns essential to this topic
3) As the csv file was too big to store it on Github, surplus data was removed using Excel. Data misformat was observed but corrected using pandas.
4) Creation of the "Table of age-specific death rates of COPD" - using the data in this exercise heading
5) As there were more age groups in the database 1) compared with the table 3), the age groups [85-89],[90-94],[95-99] and [100+] and respective population were compacted into only one Age Group [85+]
6) The age-standardized death rate per country was calculated according to the following formula:

    *Age standartized rate (per 100,000 people) = (Age specific death rate) * (Standart population per age group)/(Standart population) *1000 

<hr style = "border: 6.0px solid navy; width:100%;"></hr>

## Import Libraries

In [14]:
import pandas as pd
import numpy as np
pd.options.mode.copy_on_write = True

## Calculation of the crude death rate for COPD for all ages in both the United States and Uganda for 2019.

A) Download of the database - link used: https://population.un.org/wpp/Download/Standard/CSV/ and the file downloaded was the "1950-2100" zip file from the row "Demographic Indicators".According to the database description, the unit values are in thousands. File was then uploaded to my Github to be always accessible.

In [6]:
url = 'https://github.com/TiagoDataAnalyst/Others/blob/main/WPP2022_Demographic_Indicators_Medium.csv?raw=true'
database = pd.read_csv(url, low_memory=False)
database.columns

Index(['SortOrder', 'LocID', 'Notes', 'ISO3_code', 'ISO2_code', 'SDMX_code',
       'LocTypeID', 'LocTypeName', 'ParentID', 'Location', 'VarID', 'Variant',
       'Time', 'TPopulation1Jan', 'TPopulation1July', 'TPopulationMale1July',
       'TPopulationFemale1July', 'PopDensity', 'PopSexRatio', 'MedianAgePop',
       'NatChange', 'NatChangeRT', 'PopChange', 'PopGrowthRate',
       'DoublingTime', 'Births', 'Births1519', 'CBR', 'TFR', 'NRR', 'MAC',
       'SRB', 'Deaths', 'DeathsMale', 'DeathsFemale', 'CDR', 'LEx', 'LExMale',
       'LExFemale', 'LE15', 'LE15Male', 'LE15Female', 'LE65', 'LE65Male',
       'LE65Female', 'LE80', 'LE80Male', 'LE80Female', 'InfantDeaths', 'IMR',
       'LBsurvivingAge1', 'Under5Deaths', 'Q5', 'Q0040', 'Q0040Male',
       'Q0040Female', 'Q0060', 'Q0060Male', 'Q0060Female', 'Q1550',
       'Q1550Male', 'Q1550Female', 'Q1560', 'Q1560Male', 'Q1560Female',
       'NetMigrations', 'CNMR'],
      dtype='object')

B) Extract of the database columns essential to this topic

In [55]:
data_cols_need = database[['Location'
                          ,'Time'
                          ,'Deaths'
                          ,'TPopulation1Jan']
                          ].set_index('Location')

data_filt_bycountry = data_cols_need.loc[((data_cols_need.index == 'United States of America') 
                                        |(data_cols_need.index == 'Uganda')) 
                                        & (data_cols_need['Time'] == 2019)
                                        ]

data_filt_bycountry

                          Time    Deaths  TPopulation1Jan
Location
Uganda                    2019   249.857        42212.297
United States of America  2019  2778.148       333251.103

C) Calculation of the crude death rate per country

In [19]:
data_filt_bycountry['crude_death_rate (per 100,000)'] = ((data_filt_bycountry['Deaths']/data_filt_bycountry['TPopulation1Jan'])*100000).round(1)
data_filt_bycountry['crude_death_rate (per 100,000)']

Location
Uganda                      591.9
United States of America    833.7
Name: crude_death_rate (per 100,000), dtype: float64

<hr style = "border: 6.0px solid navy; width:100%;"></hr>

## Calculation of the age-standardized death rate for COPD for all ages in both the United States and Uganda for 2019.

1) Download of a database (from population.un.org) link used: https://population.un.org/wpp/Download/Standard/CSV/ ; file downloaded was the "1950-2100" zip file in row "Population" and with description "Population on 01 January, by 5-year age groups." According to the database description, the unit values are in thousands

In [20]:
url2 = 'https://github.com/TiagoDataAnalyst/Others/blob/main/WPP2022_Population1JanuaryByAge5GroupSex_Medium.csv?raw=true'
Database2 = pd.read_csv(url2, low_memory=False)
Database2.columns

Index(['SortOrder', 'LocID', 'Notes', 'ISO3_code', 'ISO2_code', 'SDMX_code',
       'LocTypeID', 'LocTypeName', 'ParentID', 'Location', 'VarID', 'Variant',
       'Time', 'MidPeriod', 'AgeGrp', 'AgeGrpStart', 'AgeGrpSpan', 'PopMale',
       'PopFemale', 'PopTotal'],
      dtype='object')

2) Extract of the database columns essential to this topic

In [21]:
Database2=Database2[['Location','PopTotal','AgeGrp']]
age_stand_data_need = Database2.loc[(Database2['Location'] == 'United States of America') | (Database2['Location'] =='Uganda')]
age_stand_data_need

                     Location   PopTotal  AgeGrp
200                    Uganda   7244.221     0-4
201                    Uganda   6551.165  05-Sep
202                    Uganda   5830.086  Oct-14
203                    Uganda   5067.026   15-19
204                    Uganda   4264.126   20-24
205                    Uganda   3404.442   25-29
206                    Uganda   2532.182   30-34
207                    Uganda   1851.236   35-39
208                    Uganda   1475.060   40-44
209                    Uganda   1213.931   45-49
210                    Uganda    928.466   50-54
211                    Uganda    670.962   55-59
212                    Uganda    489.872   60-64
213                    Uganda    346.978   65-69
214                    Uganda    187.581   70-74
215                    Uganda     91.499   75-79
216                    Uganda     43.954   80-84
217                    Uganda     15.380   85-89
218                    Uganda      3.484   90-94
219                    Uganda      0.561   95-99
220                    Uganda      0.085    100+
242  United States of America  19960.257     0-4
243  United States of America  20732.962  05-Sep
244  United States of America  22052.246  Oct-14
245  United States of America  21839.549   15-19
246  United States of America  21896.017   20-24
247  United States of America  23475.072   25-29
248  United States of America  22665.777   30-34
249  United States of America  22209.426   35-39
250  United States of America  20510.398   40-44
251  United States of America  21391.729   45-49
252  United States of America  21431.081   50-54
253  United States of America  22358.286   55-59
254  United States of America  20792.605   60-64
255  United States of America  17053.823   65-69
256  United States of America  13482.850   70-74
257  United States of America   9122.278   75-79
258  United States of America   6058.715   80-84
259  United States of America   3990.207   85-89
260  United States of America   1632.416   90-94
261  United States of America    519.531   95-99
262  United States of America     75.878    100+

3) As the csv file was too big to store it on Github, surplus data was removed using Excel. Data misformat was observed but corrected using pandas.

In [22]:
age_stand_data_need['AgeGrp'] = age_stand_data_need['AgeGrp'].replace({'05-Sep':'5-9','Oct-14':'10-14'})
age_stand_data_need['AgeGrp'].unique()

array(['0-4', '5-9', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39',
       '40-44', '45-49', '50-54', '55-59', '60-64', '65-69', '70-74',
       '75-79', '80-84', '85-89', '90-94', '95-99', '100+'], dtype=object)

4) Creation of the "Table of age-specific death rates of COPD" - using the data in this exercise heading

In [57]:
Age_specific_death_rate = pd.DataFrame({'Age group (years)':['0-4','5-9','10-14','15-19','20-24','25-29','30-34','35-39','40-44','45-49','50-54','55-59','60-64','65-69','70-74','75-79','80-84','85+']
                                       ,'Death rate, United States, 2019':[0.04,0.02,0.02,0.02,0.06,0.11,0.29,0.56,1.42,4.00,14.13,37.22,66.48,108.66,213.1,333.06,491.10,894.45]
                                       ,'Death rate, Uganda, 2019':[0.40,0.17,0.07,0.23,0.38,0.40,0.75,1.11,2.04,13.26,5.51,33.25,69.62,120.78,229.88,341.06,529.31,710.40]
                                       })
Age_specific_death_rate

,Age group (years),"Death rate, United States, 2019","Death rate, Uganda, 2019"
0,0-4,0.04,0.40
1,5-9,0.02,0.17
2,10-14,0.02,0.07
3,15-19,0.02,0.23
4,20-24,0.06,0.38
5,25-29,0.11,0.40
6,30-34,0.29,0.75
7,35-39,0.56,1.11
8,40-44,1.42,2.04
9,45-49,4.00,13.26
10,50-54,14.13,5.51
11,55-59,37.22,33.25
12,60-64,66.48,69.62
13,65-69,108.66,120.78
14,70-74,213.10,229.88
15,75-79,333.06,341.06
16,80-84,491.10,529.31
17,85+,894.45,710.40

5) As there were more age groups in the database 1) compared with the table 3), the age groups [85-89],[90-94],[95-99] and [100+] and respective population were compacted into only one Age Group [85+]

In [24]:
age_stand_newAgeGrp =age_stand_data_need.loc[(age_stand_data_need['AgeGrp'] =='85-89')
                                        |(age_stand_data_need['AgeGrp'] =='90-94')
                                        |(age_stand_data_need['AgeGrp'] =='95-99')
                                        |(age_stand_data_need['AgeGrp'] =='100+')
                                        ]

age_stand_newAgeGrp=age_stand_newAgeGrp.groupby(['Location']).sum('PopTotal').reset_index()

age_stand_newAgeGrp['AgeGrp'] ='85+'

age_stand_newAgeGrp

                   Location  PopTotal AgeGrp
0                    Uganda    19.510    85+
1  United States of America  6218.032    85+

Adding the new [85+] rows and deleting [85-89],[90-94],[95-99] and [100+] rows on the main database

In [25]:
age_stand_data_amend=pd.concat([age_stand_data_need,age_stand_newAgeGrp])

entries_deleted = age_stand_data_amend.loc[(age_stand_data_amend['AgeGrp'] =='85-89')
                                          |(age_stand_data_amend['AgeGrp'] =='90-94')
                                          |(age_stand_data_amend['AgeGrp'] =='95-99')
                                          |(age_stand_data_amend['AgeGrp'] =='100+')
                                          ]
age_stand_data_amend = age_stand_data_amend.drop(entries_deleted.index)
age_stand_data_amend.reset_index(drop=True, inplace=True)

### 6) Calculation of the Age-standardized death rate per country

*Age-standardized death rate for COPD for all ages in United States for 2019.*

In [58]:
USA_pop_GrpAge = age_stand_data_amend.loc[(age_stand_data_amend['Location']=='United States of America'),'PopTotal']
USA_pop_GrpAge.reset_index(drop=True, inplace=True)

USA_total_pop = float(data_filt_bycountry.loc[(data_filt_bycountry.index=='United States of America','TPopulation1Jan')])

age_standartized_USA = round(sum(Age_specific_death_rate['Death rate, United States, 2019']*(USA_pop_GrpAge)/USA_total_pop),1)
age_standartized_USA

56.9

*Age-standardized death rate for COPD for all ages in Uganda for 2019.*

In [68]:
Uganda_pop_GrpAge = age_stand_data_amend.loc[(age_stand_data_amend['Location']=='Uganda'),'PopTotal']
Uganda_pop_GrpAge.reset_index(drop=True, inplace=True)

Uganda_total_pop = float(data_filt_bycountry.loc[(data_filt_bycountry.index=='Uganda','TPopulation1Jan')])

age_standartized_Uganda = round(sum(Age_specific_death_rate['Death rate, Uganda, 2019']*(Uganda_pop_GrpAge/Uganda_total_pop)),1)
age_standartized_Uganda

5.8

### Note: Crude Death Date and Age standardized death rate are different for each country as the number of deaths used was from the database and not calculated from the [death rates] plus [Country_pop_GrpAge]